body {
    background: linear-gradient(to right, #bdc9d4 0%, #e0e8ef 1%, rgb(248, 248, 248) 4%, rgb(248, 248, 248) 96%, #e0e8ef 99%, #c3cbd3 100%);
    background-color: rgb(128, 128, 160);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 3rem;
    padding: 0;
    height: 100vh;
    text-align: center;
}

.blockUnoHome {
    background-color: #0077b6;
}

.normal {
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
}

.destacado {
    font-family: Bahnschrift SemiCondensed;
    font-size: 30px;
    color: rgb(96, 228, 44);
}

h2 {
    font-family: 'PT Sans', sans-serif;
    font-size: 28px;
    color: rgb(53, 17, 77);
}

h2:hover {
    font-family: 'PT Sans', sans-serif;
    color: rgb(221, 9, 240);
}

h1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 36px;
}

.institucion {
    color: #023E8A;
}

a {
    text-decoration: none;
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 20px;
}

a[href*="page2.html"] {
    color: hsl(244, 93%, 52%);
}

#leidyid {
    color: hsl(308, 59%, 46%);
}

title {
    color: hsla(313, 88%, 19%, 0.712);
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: inherit;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    color: #7e97b8;
    background-color: #e0e8ef;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: rgba(255, 255, 255, 0.333);
    border-radius: 40px 40px 40px 40px;
    padding: 16px 24px 16px 28px;
    transform: translate(0px, 0px) rotate(0deg);
    transition: 0.2s;
    box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 48%);
    margin-top: 2em;
    margin-bottom: 2em;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    color: #516d91;
    background-color: #E5EDF5;
    box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
}

button:active {
    box-shadow: none;
}

.input-with-image {
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 16px;
    padding-left: 20px;
    /* Espacio para la imagen */
    background-image: url('../imagenes/lupa.png');
    background-size: 16px 16px;
    /* Tamaño de la imagen */
    background-repeat: no-repeat;
    background-position: 4px center;
    /* Posición de la imagen */
    border-radius: 18px;
    height: 30px;
    
}
.inputForm {
    width: 300px;
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 16px;
    padding-left: 20px;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 4px center;
    border-radius: 18px;
    height: 30px;
}
.inputForm:focus {
    border-color: #7e97b8;
    outline: none; /* Elimina el contorno predeterminado en algunos navegadores */
    box-shadow: 0 0 5px #7e97b8; /* Agrega un efecto de sombra */
}
select{
    font-size: 16px;
    width: 200px;
    background-color: white;
    cursor: pointer; 
}
select:focus {
    border-color: #7e97b8;
    outline: none; /* Elimina el contorno predeterminado en algunos navegadores */
    box-shadow: 0 0 5px #7e97b8; /* Agrega un efecto de sombra */
}
select option {
    padding: 10px;
    font-size: 16px;
}
textarea{
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 16px;
    width: 50%;
    height: 100px;
    border-radius: 15px;
    padding: 8px;
}
textarea:focus {
    border-color: #7e97b8;
    outline: none; /* Elimina el contorno predeterminado en algunos navegadores */
    box-shadow: 0 0 5px #7e97b8; /* Agrega un efecto de sombra */
}

label{
    font-size: 20px;
    align-items: initial;

}
.alinear{
}
.buttonForm{
display: flex;
margin: 0 auto;
width: 150px;
margin-top: 1rem;
}
.p {
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 20px;
}
.clicAqui {
    text-decoration-color: hsla(313, 88%, 19%, 0.712);
    font-weight: bold;
}

.blockButton {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Divide en 4 columnas iguales */
    gap: 50px;
    /* Espacio entre las columnas */
    margin-left: 20%;
    margin-right: 20%;
}

@media (max-width: 1300px) {
    .blockButton {
        margin-left: 10%;
    }
}

@media (max-width: 900px) {
    .blockButton {
        margin-left: 8%;
    }
}

a.spaceColumn {
    padding: 0;
    /* Ajusta el valor según tus preferencias */
}

.navBar {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 50px;
    align-items: center;

}

.navBar a {
    text-align: center;
    /* Centra el texto horizontalmente en las columnas */
    /* Otros estilos de texto si es necesario */
}

.navBar> :nth-child(1) {
    grid-column: span 2;
}

.logo {
    display: flex;
    align-items: center;
}

.blockFooter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Divide en 3 columnas iguales */
    gap: 150px;
    /* Espacio entre las columnas */
}

.blockFooter div {
    text-align: center;
}

.titleFooter {
    font-weight: bold;
}

hr {
    border-color: #2fdada;
}

.introFooter {
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.centrado{
    display: flex;
    margin: 0 auto;
}

/*++++++++++ Estilos para el carrusel+++++++++++++++*/
.carrousel {
    width: 90%;
    padding: 10em;
}

.carrousel .grande {
    width: 200%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 2em;

    transition: all .5s ease;
    transform: translateX(-50%);
}

.carrousel .img {
    width: calc(100% / 2 - 2em);
    min-height: 20vh;
}

.carrousel .puntos {
    width: 100%;
    margin: 1em 0 0;
    padding: .4em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.carrousel .punto {
    width: 2em;
    height: 2em;
    margin: 1em 1em 0;
}

.carrousel .punto.activo {
    background-color: red;
}
.center{
    text-align: center;
    
}
.formulario{
 border: 2px solid #ccc;
 border-radius: 35px;
 padding: 2rem;
 margin-left: 20%;
 margin-right: 20%;
}