body {
    background: linear-gradient(to right, #bdc9d4 0%, #e0e8ef 1%, rgb(248, 248, 248) 4%, rgb(248, 248, 248) 96%, #e0e8ef 99%, #c3cbd3 100%);
    background-color: rgb(128, 128, 160);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 3rem;
    padding: 0;
    height: 100vh;
    text-align: center;
    overflow-x: hidden;
}
.title-container {
    white-space: nowrap;
}

#titleid {
    color: rgb(10, 10, 10);
    text-decoration-style: wavy;
}



.blockUnoHome {
    background-color: #0077b6;
}

.normal {
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 24px;
}

.destacado {
    font-family: Bahnschrift SemiCondensed;
    font-size: 30px;
    color: rgb(96, 228, 44);
}

h2 {
    font-family: 'PT Sans', sans-serif;
    font-size: 28px;
    color: rgb(90, 30, 129);
}

h1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 36px;
}

.institucion {
    color: rgb(5, 5, 5);
    font-weight: bold;
}

a {
    text-decoration: none;
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 20px;
    text-shadow: #7e97b8 1px 0px 1px;
}

a[href*="page2.html"] {
    color: hsl(244, 93%, 52%);
}

#leidyid {
    color: rgb(10, 10, 10);

}

title {
    color: hsla(313, 88%, 19%, 0.712);
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: inherit;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    color: #7e97b8;
    background-color: #e0e8ef;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: rgba(255, 255, 255, 0.333);
    border-radius: 40px 40px 40px 40px;
    padding: 16px 24px 16px 28px;
    transform: translate(0px, 0px) rotate(0deg);
    transition: 0.2s;
    box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 48%);
    margin-top: 2em;
    margin-bottom: 2em;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    color: #516d91;
    background-color: #E5EDF5;
    box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgba(102, 99, 101, 0.48);
}

button:active {
    box-shadow: none;
}

.input-with-image,
.inputForm,
select,
textarea {
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 16px;
    border-radius: 18px;
    width: 50%;
    /* Ajusta el ancho al 100% */
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 4px center;
    padding-left: 26px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.input-with-image {
    background-image: url('../imagenes/lupa.png');
    width: 250px;
    padding-left: 26px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.input-with-image:focus,
.inputForm:focus,
select:focus,
textarea:focus {
    border-color: #7e97b8;
    outline: none;
    box-shadow: 0 0 5px #7e97b8;
}

select {
    width: 30%;
    /* Ajusta el ancho al 100% */
    font-size: 16px;
    background-color: white;
    cursor: pointer;
    padding-right: 26px;
    margin-right: 8px;
}

select option {
    padding: 10px;
    font-size: 16px;
}

textarea {
    width: 70%;
    /* Ajusta el ancho al 100% */
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 16px;
    height: 100px;
    border-radius: 15px;
    padding-left: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
}

label {
    font-size: 20px;
    letter-spacing: 1px;
}

.izq {
    text-align: left;
    text-justify: initial;
}

.buttonForm {
    display: flex;
    margin: 0 auto;
    width: 150px;
    margin-top: 1rem;
}

.p {
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 20px;
}

.clicAqui {
    text-decoration-color: hsla(300, 2%, 8%, 0.712);
    font-weight: bold;
    text-shadow: #7e97b8 1px 0px 1px;
}

.blockButton {
    display: flex;
    justify-content: space-evenly;

}

@media (max-width: 900px) {
    .blockButton {
        margin-left: 8%;
    }
}

a.spaceColumn {
    padding: 0;
}

.navBar {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 50px;
    align-items: center;
}

.navBar a {
    text-align: center;
}

.navBar> :nth-child(1) {
    grid-column: span 2;
}

.logo {
    display: flex;
    align-items: center;
}

.blockFooter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 150px;
}

.blockFooter div {
    text-align: center;
}

.titleFooter {
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 20px;
    text-shadow: #101010 1px 0px 1px;
}

hr {
    border-color: #2fdada;
}

.introFooter {
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 22px;
    font-weight: bold;

}

.centrado {
    display: flex;
    margin: 0 auto;
    width: 50%;
    min-height: 50vh;
    border-radius: 12px;
}

@media (max-width: 900px) {
    .centrado {
        height: 30vh;
    }
}

/*++++++++++ Estilos para el carrusel +++++++++++++++*/
.carrousel {
    width: 90%;
    max-width: 120em;
    padding: 0;
    margin: 0 auto
}

.carrousel .grande {
    width: 300%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
    transition: all .5s ease;
    transform: translateX(0%);
    background-color: transparent;
    border-radius: 12px;
}

.carrousel .img{
    width: calc(100% / 3 - 6em);
    height: 60vh;
    padding-top: 0;
    padding-left: 16rem;
    padding-right: 16rem;
}

.carrousel .puntos {
    width: 100%;
    margin: 1em 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.carrousel .punto {
    width: 2em;
    height: 2em;
    margin: 1em 1em 0;
    box-shadow: black 2 0;
    border-radius: 35px;
}

.punto.activo::marker {
    color: #6982a3;
    width: 2em;
    height: 2em;
}

.li {
    size: 50px;
}

/*_________________________________________*/

.center {
    text-align: center;
}

.formulario {
    display: block;
    justify-content: space-between;
    border: 2px solid #ccc;
    border-radius: 35px;
    padding: 2rem;
    margin-left: 20%;
    margin-right: 20%;
}

input[type="radio"] {
    margin-right: 10px;
}

.centrado,
.formulario {
    box-shadow:
        1.8px 1.8px 2.2px rgba(0, 0, 0, 0.031),
        4.4px 4.3px 5.3px rgba(0, 0, 0, 0.044),
        8.3px 8.1px 10px rgba(0, 0, 0, 0.055),
        14.7px 14.5px 17.9px rgba(0, 0, 0, 0.066),
        27.6px 27.2px 33.4px rgba(0, 0, 0, 0.079),
        66px 65px 80px rgba(0, 0, 0, 0.11);
}