.normal {
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
}

.destacado {
    font-family: Bahnschrift SemiCondensed;
    font-size: 30px;
}

h2 {
    font-family: 'PT Sans', sans-serif;
    font-size: 28px;
}
h2:hover {
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 36px;
}
p {
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 20px;
    margin: 3rem;
}
.bodyMascotas{
    margin: 4rem;
}

.navBar{
    display: grid;
    grid-template-columns:repeat(6, 1fr);
    gap: 50px;
    align-items: center;
    
}
.navBar a {
    text-align: center; /* Centra el texto horizontalmente en las columnas */
    /* Otros estilos de texto si es necesario */
}
.navBar > :nth-child(1) {
    grid-column: span 2;
}

.logo {
    display: flex;
    align-items: center;
}
.input-with-image {
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 16px;
    padding-left: 20px;
    /* Espacio para la imagen */
    background-image: url('../imagenes/lupa.png');
    background-size: 16px 16px;
    /* Tamaño de la imagen */
    background-repeat: no-repeat;
    background-position: 4px center;
    /* Posición de la imagen */
    border-radius: 18px;
    height: 30px;
}
a {
    text-decoration: none;
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 20px;
}


.blockFooter {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Divide en 3 columnas iguales */
    gap: 150px; /* Espacio entre las columnas */
}

.blockFooter div {
    text-align: center;
}

.titleFooter{
    font-weight: bold;
}
hr{
    border-color: #2fdada;
}
.introFooter {
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}